@charset "UTF-8";

.input-container {
  width: 404px;
  height: 30px;
}
.input-container input {
  padding-left: 15px;
  width: 320px;
  height: 100%;
  border: none;
  padding: 0px;
  border-radius: 5px;
}
.input-container button {
  color: #fff;
  background-color: #EE6409;
  border: none;
  width: 80px;
  height: 100%;
  padding: 0px;
  border-radius: 5px;
}
.category-text-wrapper {
  margin-top: 25px;
  height: 70px;
}
.category-contest {
  margin-top: 25px;
  height: 30px;
}
.category-header {
  color: #EE6409;
  margin-bottom: 3px;
  font-size: 25px;
}
.category-description {
  color: #000;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
.team {
  border: 1px solid red;
  height: 100%;
}
.contest {
  padding: 10px;
  box-shadow: 1px 1px 10px 3px #ccc;
  border-radius: 11px;
  height: 400px;
}
.contest-image-wrapper, .contest-text-wrapper {
  display: inline-block;
  vertical-align: text-top;
}
.contest-image-wrapper {
  width: 45%;
  height: 100%;
}
.contest-image-wrapper img {
  box-shadow: 1px 1px 10px 3px #eee;
  width: 100%;
  height: 100%;
}
.contest-text-wrapper p{
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 12px;
}
.contest-text-wrapper h4 {
  text-align: center;
}
.contest-text-wrapper {
  width: 53%;
}
.contest-text-wrapper span {
  font-weight: 700;
}
.text-hidden {
  visibility: hidden;
}

.after-search {
  margin: 40px auto;
  width: 100%;
  text-align: center;
}
.after-search input{
  border: 1px solid #777;
}
.bold {
  font-weight: 600;
}
.team-info, .person-info {
  padding: 10px;
  box-shadow: 1px 1px 10px 3px #ccc;
  border-radius: 11px;
}
.team-info {
  transition: 300ms;
  height: 620px;
}
.person-info {
  height: 50%;
}
.team-info p {
  color: #000;
  font-size: 15px;
}
.image-wrapper, .team-text {
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  white-space: nowrap;
}
.vertical-middle-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.image-wrapper img{
  max-height: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.category-description span {
  margin-right: 20px;
  float: right;
}
.category-description span a {
  color: #EE6409 !important;
}
.category-description span a:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .team-info {
    height: 400px;
  }
  .image-wrapper {
    height: 50%;
  }
}
@media (max-width: 768px) {
  .team-info {
    height: auto;
  }
  .image-wrapper {
    height: 50%;
  }
}
@media (max-width: 992px) {
  .pick-me {
    height: auto !important;
  }
  .custom-width {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .input-container input {
    width: 250px;
  }
  .contest {
    height: 530px;
  }
  .contest-image-wrapper img {
    height: 60%;
  }
  .col-md-2 img {
    width: 100px;
  }
  .carousel-title {
    margin-top: 100px;
    font-size: 25px !important;
  }
  .title-description {
    font-size: 15px;
  }
  .category-header {
    font-size: 20px;
  }
  .category-description {
    font-size: 16px;
  }
  .tagImg {
    width: 100px;
    margin: 10px 3px !important;
  }
}
.pick-me {
  padding: 10px;
  box-shadow: 1px 1px 10px 3px #ccc;
  border-radius: 11px;
  height: 180px;
  transition: 300ms;
}
.pick-me .image-wrapper {
  vertical-align: text-top;
  display: inline-block;
  margin: 0;
  width: 40%;
  height: 100%;
}
.pick-me .image-wrapper img {
  border-radius: 20px;
}
.pick-me .text-wrapper {
  vertical-align: text-top;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  width: 58%;
}
.text-wrapper {
  margin-top: 10px;
}
.pick-me p{
  padding-left: 5px; 
  font-size: 15px;
}
.contest-image {
  height: auto;
  text-align: center;
}
.contest-image img {
  box-shadow: 1px 1px 10px 3px #ccc;
  transition: 300ms;
}
.contest-image img:hover, .contest:hover, .pick-me:hover, .team-info:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 300ms;
}
.tagContainer {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: auto;
  width: 90%;
  margin: auto;
  transform: translate(0%,-50%);
  text-align: center;
  background-color: #ffff;
  z-index: 9999;
  overflow: auto;
  border-radius: 15px;
}
.tagContainer button {
  width: 100px;
  height: 30px;
  margin: 20px;
  background-color: #EE6409;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
.tagImg {
  margin: 27px 10px;
  transition: 300ms;
  box-shadow: 0px 1px 20px 1px #bbb;
}
.tagImg:hover {
  cursor: pointer;
  opacity: 0.8;
}
.tagImg:active {
  opacity: 0.5;
}
#modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 3000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Custom style ends */

html {
  overflow-x: hidden;
}

html, html a, body {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Hind, sans-serif;
}

p {
  font-size: 23px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #222;
  line-height: 1.4;
  margin-bottom: 15px;
}

em,
li,
li a {
  font-size: 16px;
  font-weight: 500;
  font-family: Hind, sans-serif;
  color: #515769;
}

a {
  font-family: Hind, sans-serif;
  color: #81848f;
  outline: 0;
}

a:focus, a:hover, a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}

.link {
  color: #EE6407;
  float: right;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  text-transform: uppercase;
}

.link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 8px;
  height: 2px;
  background: #17bed2;
  content: " ";
}

span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  color: #999caa;
  text-decoration: none;
}

h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

::selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-webkit-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background: #17bed2;
  text-shadow: none;
}

:active,
:focus {
  outline: none;
}

/* Section Seperator */
.section-seperator {
  border-bottom: 1px solid #edf0f2;
}

/* Content Wrapper Link */
.content-wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  text-decoration: none;
}

/*------------------------------------------------------------------
  	[Blockquote]
------------------------------------------------------------------*/
.blockquote {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.4;
  border-left: none;
  margin-left: 20px;
}

.blockquote:before {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 60px;
  display: inline-block;
  color: #17bed2;
  content: '“';
}

/*------------------------------------------------------------------
  	[Button]
------------------------------------------------------------------*/
.btn-theme {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
  outline: none;
}

.btn-theme:hover {
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-theme:hover, .btn-theme:focus, .btn-theme.focus {
  text-decoration: none;
}

.btn-theme:active, .btn-theme.active {
  background-image: none;
  outline: 0;
}

.btn-theme.disabled, .btn-theme[disabled],
fieldset[disabled] .btn-theme {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.btn-white-brd {
  color: #fff;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
}

.btn-white-brd:hover, .btn-white-brd:focus, .btn-white-brd.focus {
  color: #515769;
  background: #fff;
  border-color: transparent;
}

.btn-default-bg {
  color: #515769;
  background: #f3f4f5;
  border-color: transparent;
  border-width: 0;
}

.btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
  color: #fff;
  background: #17bed2;
  border-color: transparent;
}

.btn-base-bg {
  color: #fff;
  background: #17bed2;
  border-color: transparent;
  border-width: 0;
}

.btn-base-bg:hover, .btn-base-bg:focus, .btn-base-bg.focus {
  color: #fff;
  background: #63cbd7;
  border-color: transparent;
}

.btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 30px;
}

/*------------------------------------------------------------------
  	[Pricing]
------------------------------------------------------------------*/
.pricing {
  padding: 70px 45px;
  background: #fff;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .pricing {
    margin-top: 0;
  }
}

.pricing.pricing-active {
  padding-top: 110px;
  padding-bottom: 110px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .pricing.pricing-active {
    margin-top: 0;
  }
}

.pricing .pricing-icon {
  display: block;
  font-size: 30px;
  color: #999caa;
  margin-bottom: 30px;
}

.pricing .pricing-list-item {
  position: relative;
  font-size: 13px;
  color: #81848f;
  padding-left: 20px;
  margin-bottom: 10px;
}

.pricing .pricing-list-item:before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 9px;
  height: 2px;
  background: #17bed2;
  content: " ";
  margin-right: 10px;
}

/*------------------------------------------------------------------
  	[Promo Section]
------------------------------------------------------------------*/
@media (max-width: 991px) {
  .promo-section .promo-section-col {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .promo-section {
    position: relative;
    height: 400px;
  }
  .promo-section .promo-section-col {
    width: 45%;
  }
  .promo-section .promo-section-img-left {
    position: absolute;
    top: 0;
    right: 50%;
  }
  .promo-section .promo-section-img-right {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .promo-section .ver-center {
    display: table;
    height: 400px;
  }
  .promo-section .ver-center-aligned {
    display: table-cell;
    vertical-align: middle;
  }
}

/*------------------------------------------------------------------
  	[Service]
------------------------------------------------------------------*/
.service {
  background: #fff;
  padding: 50px;
}

.service .service-element,
.service .service-info {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service .service-icon {
  display: block;
  font-size: 30px;
  color: #999caa;
  margin-bottom: 30px;
}

.service:hover .service-element {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.service:hover .service-info {
  -webkit-transform: translate3d(0, -30%, 0);
  -moz-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
  	[Work]
------------------------------------------------------------------*/
.work {
  position: relative;
}

.work .work-overlay {
  position: relative;
}

.work .work-overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  content: " ";
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work .work-content {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  padding: 25px;
  -webkit-transform: translate3d(0, 20px, 0);
  -moz-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work:hover .work-overlay:before {
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.work:hover .work-content {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
  	[Footer]
------------------------------------------------------------------*/
.footer {
  background: url(../img/1920x1080/03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer .footer-seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .footer-list {
  margin-bottom: 0;
}

.footer .footer-list-item {
  color: #cbd3e1;
  margin-bottom: 25px;
}

.footer .footer-list-link {
  color: #cbd3e1;
}

.footer .footer-list-link:hover {
  color: #fff;
}

.footer .footer-input {
  background: rgba(0, 0, 0, 0.15);
}

.footer .footer-logo {
  width: 85px;
  height: auto;
}

/*------------------------------------------------------------------
  	[Header]
------------------------------------------------------------------*/
/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

/* Navbar */
.header .navbar {
  margin-bottom: 0;
  border-bottom: 3px double #EE6407 !important;
  border-radius: 0 !important;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar Toggle */
.header .navbar-toggle {
  width: 25px;
  height: 25px;
  border: none;
  padding: 0;
  margin: 35px 0;
}

.header .navbar-toggle .toggle-icon {
  position: relative;
  width: 21px;
  height: 1px;
  display: inline-block;
  background: #515769;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:before, .header .navbar-toggle .toggle-icon:after {
  position: absolute;
  left: 0;
  background: #515769;
  content: " ";
}

.header .navbar-toggle .toggle-icon:before {
  width: 10px;
  height: 1px;
  bottom: 10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:after {
  width: 16px;
  height: 1px;
  top: -5px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon {
  background: #17bed2;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon:before, .header .navbar-toggle:hover .toggle-icon:after {
  width: 21px;
  height: 1px;
  background: #17bed2;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon.is-clicked {
  background: rgba(81, 87, 105, 0);
}

/* Navbar Logo */
.header .logo {
  width: 100px;
  height: 65px;
  float: left;
  max-height: 95px;
  line-height: 65px;
}

.header .logo-wrap {
  display: inline-block;
}

.header .logo-wrap:focus, .header .logo-wrap:hover {
  text-decoration: none;
}

.header .logo-img {
  display: inline-block;
  width: 85px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.header .logo-img-main {
  display: inline-block;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .logo-img-active {
  display: none;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar */
.header .navbar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Nav */
.header .nav-item {
  height: 65px;
  position: relative;
  display: block;
}

.header .nav-item:last-child .nav-item-child {
  padding-right: 0;
}

.header .nav-item .nav-item-hover.active:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item:hover .nav-item-hover:after {
  opacity: 1;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 65px;
  padding: 0px 20px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-hover {
  position: relative;
}

.header .nav-item-hover:after {
  position: absolute;
  top: 45px;
  left: 0;
  width: 9px;
  height: 2px;
  background: #17bed2;
  opacity: 0;
  content: " ";
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Media Queries below 991px */
@media (max-width: 991px) {
  /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
  .header {
    background: #fff;
  }
  .header .navbar-toggle {
    display: block;
  }
  .header .navbar-collapse.collapse {
    display: none !important;
  }
  .header .navbar-collapse.collapse.in {
    display: block !important;
  }
  .header .nav-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .header .navbar-nav {
    margin: 0;
    float: none;
  }
  .header .navbar-nav .nav-item {
    float: none;
  }
  /* Menu Container */
  .header .menu-container:before, .header .menu-container:after {
    content: " ";
    display: table;
  }
  .header .menu-container:after {
    clear: both;
  }
  /* Logo */
  .header .logo .logo-img-main {
    display: none;
  }
  .header .logo .logo-img-active {
    display: inline-block;
  }
  /* Navbar Nav */
  .header .nav-item-child {
    color: #515769;
    line-height: 1.4;
    padding: 12px 12px 12px 15px;
  }
  .header .nav-item-hover:after {
    position: absolute;
    top: 19px;
  }
}

/* Media Queries below 767px */
@media (max-width: 767px) {
  /* Menu Container */
  .header .menu-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container > .nav-collapse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Media Queries above 992px */
@media (min-width: 992px) {
  /* Navbar */
  .header .navbar-nav-right {
    float: right;
  }
}

/* Page On Scroll */
@media (min-width: 992px) {
  .page-on-scroll .header .navbar {
    background: #fff;
    border-bottom-color: #f0f0f0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .logo-img-main {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .logo-img-active {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .nav-item-child {
    color: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
}

/*------------------------------------------------------------------
  	[Contact]
------------------------------------------------------------------*/
.contact-list > li {
  font-size: 13px;
  color: #81848f;
  margin-bottom: 10px;
}

/*--------------------------------------------------
    [Back To Top Theme Button]
----------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  z-index: 9;
  width: 40px;
  height: 40px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 3;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #515769;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  padding: 5px;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:hover {
  color: #fff;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top:focus, .back-to-top:hover {
  text-decoration: none;
}

/* The Button Becomes Visible */
.back-to-top.back-to-top-is-visible {
  visibility: visible;
  opacity: .6;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.back-to-top.back-to-top-is-visible:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* If the user keeps scrolling down, the button is out of focus and becomes less visible */
.back-to-top.back-to-top-fade-out {
  opacity: .4;
}

.back-to-top.back-to-top-fade-out:hover {
  opacity: 1;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
  	[Form Control]
------------------------------------------------------------------*/
.form-control {
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  color: #a6a7aa;
  background: #fafafa;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding-left: 15px;
}

.form-control::-moz-placeholder {
  color: #a6a7aa;
}

.form-control:-ms-input-placeholder {
  color: #a6a7aa;
}

.form-control::-webkit-input-placeholder {
  color: #a6a7aa;
}

.form-control:focus {
  color: #515769;
  box-shadow: none;
}

.form-control:focus::-moz-placeholder {
  color: #515769;
}

.form-control:focus:-ms-input-placeholder {
  color: #515769;
}

.form-control:focus::-webkit-input-placeholder {
  color: #515769;
}

/*------------------------------------------------------------------
    [Full Screen Carousel]
------------------------------------------------------------------*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*------------------------------------------------------------------
    [Carousel]
------------------------------------------------------------------*/
.carousel-indicators {
  left: auto;
  width: auto;
  padding-left: 0;
  margin-left: 0;
}

.carousel-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.carousel-title {
  font-size: 60px;
  font-weight: 400;
  color: #EE6407;
  line-height: 1.1;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .carousel-title {
    font-size: 60px;
  }
}

/*----------------------------------
  Custome Style of Info Window
------------------------------------*/
/* White background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
  background-color: #fff !important;
  box-shadow: none !important;
}

/* Arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
  background-color: #fff !important;
  box-shadow: none !important;
}

.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div:first-child {
  display: none;
}

/* Let's remove image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img {
  display: none;
}

/* New arrow style */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child {
  overflow: inherit !important;
}

.gm-style > div:first-child > div + div > div:last-child > div > div:last-child:after {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  font-family: Simple-Line-Icons;
  color: #515769;
  content: "\e082";
}

/* Positioning of infowindow */
.gm-style-iw {
  top: 22px !important;
  left: 22px !important;
}

/*--------------------------------------------------
    [Masonry Grid]
----------------------------------------------------*/
.masonry-grid {
  position: relative;
  margin: 0 -2px;
}

.masonry-grid:before, .masonry-grid:after {
  content: " ";
  display: table;
}

.masonry-grid:after {
  clear: both;
}

.masonry-grid .masonry-grid-item {
  display: block;
  float: left;
  vertical-align: top;
  padding: 0 2px;
  margin-bottom: 4px;
}

.masonry-grid .masonry-grid-item.col-12 {
  width: 100%;
}

.masonry-grid .masonry-grid-item.col-11 {
  width: 91.66666667%;
}

.masonry-grid .masonry-grid-item.col-10 {
  width: 83.33333333%;
}

.masonry-grid .masonry-grid-item.col-9 {
  width: 75%;
}

.masonry-grid .masonry-grid-item.col-8 {
  width: 66.66666667%;
}

.masonry-grid .masonry-grid-item.col-7 {
  width: 58.33333333%;
}

.masonry-grid .masonry-grid-item.col-6 {
  width: 50%;
}

.masonry-grid .masonry-grid-item.col-5 {
  width: 41.66666667%;
}

.masonry-grid .masonry-grid-item.col-4 {
  width: 33.33333333%;
}

.masonry-grid .masonry-grid-item.col-3 {
  width: 25%;
}

.masonry-grid .masonry-grid-item.col-2 {
  width: 16.66666667%;
}

.masonry-grid .masonry-grid-item.col-1 {
  width: 8.33333333%;
}

/* Media Queries below 768px */
@media (max-width: 768px) {
  .masonry-grid .masonry-grid-item {
    width: 50%;
  }
  .masonry-grid .masonry-grid-item.col-12, .masonry-grid .masonry-grid-item.col-11, .masonry-grid .masonry-grid-item.col-10, .masonry-grid .masonry-grid-item.col-9, .masonry-grid .masonry-grid-item.col-8, .masonry-grid .masonry-grid-item.col-7, .masonry-grid .masonry-grid-item.col-6, .masonry-grid .masonry-grid-item.col-5, .masonry-grid .masonry-grid-item.col-4, .masonry-grid .masonry-grid-item.col-3, .masonry-grid .masonry-grid-item.col-2, .masonry-grid .masonry-grid-item.col-1 {
    width: 50%;
  }
}

/* Media Queries below 600px */
@media (max-width: 600px) {
  .masonry-grid .masonry-grid-item {
    width: 100%;
  }
  .masonry-grid .masonry-grid-item.col-12, .masonry-grid .masonry-grid-item.col-11, .masonry-grid .masonry-grid-item.col-10, .masonry-grid .masonry-grid-item.col-9, .masonry-grid .masonry-grid-item.col-8, .masonry-grid .masonry-grid-item.col-7, .masonry-grid .masonry-grid-item.col-6, .masonry-grid .masonry-grid-item.col-5, .masonry-grid .masonry-grid-item.col-4, .masonry-grid .masonry-grid-item.col-3, .masonry-grid .masonry-grid-item.col-2, .masonry-grid .masonry-grid-item.col-1 {
    width: 100%;
  }
}

/*------------------------------------------------------------------
    [Swiper Slider]
------------------------------------------------------------------*/
.swiper-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-clients-img {
  box-shadow: 0px 1px 20px 1px #bbb;
  display: block;
  width: 190px;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.swiper-clients-img:hover {
  opacity: .8;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*------------------------------------------------------------------
  	[Text Colors]
------------------------------------------------------------------*/
.color-base {
  color: #17bed2;
}

.color-white {
  color: #fff;
}

.color-heading {
  color: #515769;
}

.color-subtitle {
  color: #a6a7aa;
}

.color-link {
  color: #81848f;
}

.color-link-hover {
  color: #999caa;
}

.color-sky-light {
  color: #fafafa;
}

/*------------------------------------------------------------------
  	[Background Colors]
------------------------------------------------------------------*/
.bg-color-base {
  background: #17bed2;
}

.bg-color-white {
  background: #fff;
}

.bg-color-heading {
  background: #515769;
}

.bg-color-subtitle {
  background: #a6a7aa;
}

.bg-color-link {
  background: #81848f;
}

.bg-color-link-hover {
  background: #999caa;
}

.bg-color-sky-light {
  background: #fafafa;
}

/*------------------------------------------------------------------
    [Row]
------------------------------------------------------------------*/
.row-space-1 {
  margin-right: -1px;
  margin-left: -1px;
}

.row-space-1 > [class*="col-"] {
  padding-left: 1px;
  padding-right: 1px;
}

/*------------------------------------------------------------------
  	[Content]
------------------------------------------------------------------*/
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*------------------------------------------------------------------
    [Parallax Content]
------------------------------------------------------------------*/
.parallax-content {
  padding-top: 220px;
  padding-bottom: 120px;
}

/*------------------------------------------------------------------
    [Full Width]
------------------------------------------------------------------*/
.full-width {
  width: 100%;
  height: auto;
}

/*------------------------------------------------------------------
    [Container Full Width]
------------------------------------------------------------------*/
.container-full-width {
  width: 100%;
}

.container-full-width:before, .container-full-width:after {
  content: " ";
  display: table;
}

.container-full-width:after {
  clear: both;
}

/*------------------------------------------------------------------
    [Overflow]
------------------------------------------------------------------*/
.overflow-h {
  overflow: hidden;
}

/*--------------------------------------------------
    [Font Weight]
----------------------------------------------------*/
.fweight-300 {
  font-weight: 300 !important;
}

.fweight-400 {
  font-weight: 400 !important;
}

.fweight-500 {
  font-weight: 500 !important;
}

.fweight-600 {
  font-weight: 600 !important;
}

.fweight-700 {
  font-weight: 700 !important;
}

/*------------------------------------------------------------------
    [Left margin]
------------------------------------------------------------------*/
.margin-l-0 {
  margin-left: 0 !important;
}

.margin-l-5 {
  margin-left: 5px !important;
}

.margin-l-10 {
  margin-left: 10px !important;
}

.margin-l-20 {
  margin-left: 20px !important;
}

/*------------------------------------------------------------------
    [Right margin]
------------------------------------------------------------------*/
.margin-r-0 {
  margin-right: 0 !important;
}

.margin-r-5 {
  margin-right: 5px !important;
}

.margin-r-10 {
  margin-right: 10px !important;
}

.margin-r-20 {
  margin-right: 20px !important;
}

/*------------------------------------------------------------------
    [Bottom margin]
------------------------------------------------------------------*/
.margin-b-0 {
  margin-bottom: 0 !important;
}

.margin-b-2 {
  margin-bottom: 2px !important;
}

.margin-b-5 {
  margin-bottom: 5px !important;
}

.margin-b-10 {
  margin-bottom: 10px !important;
}

.margin-b-20 {
  margin-bottom: 20px !important;
}

.margin-b-30 {
  margin-bottom: 30px !important;
}

.margin-b-40 {
  margin-bottom: 40px !important;
}

.margin-b-50 {
  margin-bottom: 50px !important;
}

.margin-b-60 {
  margin-bottom: 60px !important;
}

.margin-b-70 {
  margin-bottom: 70px !important;
}

.margin-b-80 {
  margin-bottom: 80px !important;
}

.margin-b-90 {
  margin-bottom: 90px !important;
}

.margin-b-100 {
  margin-bottom: 100px !important;
}

/*------------------------------------------------------------------
    [Top margin below 992px]
------------------------------------------------------------------*/
@media (max-width: 992px) {
  .md-margin-b-0 {
    margin-bottom: 0 !important;
  }
  .md-margin-b-2 {
    margin-bottom: 2px !important;
  }
  .md-margin-b-5 {
    margin-bottom: 5px !important;
  }
  .md-margin-b-10 {
    margin-bottom: 10px !important;
  }
  .md-margin-b-20 {
    margin-bottom: 20px !important;
  }
  .md-margin-b-30 {
    margin-bottom: 30px !important;
  }
  .md-margin-b-40 {
    margin-bottom: 40px !important;
  }
  .md-margin-b-50 {
    margin-bottom: 50px !important;
  }
  .md-margin-b-60 {
    margin-bottom: 60px !important;
  }
  .md-margin-b-70 {
    margin-bottom: 70px !important;
  }
  .md-margin-b-80 {
    margin-bottom: 80px !important;
  }
  .md-margin-b-90 {
    margin-bottom: 90px !important;
  }
  .md-margin-b-100 {
    margin-bottom: 100px !important;
  }
}

/*------------------------------------------------------------------
    [Top margin below 768px]
------------------------------------------------------------------*/
@media (max-width: 768px) {
  .sm-margin-b-0 {
    margin-bottom: 0 !important;
  }
  .sm-margin-b-2 {
    margin-bottom: 2px !important;
  }
  .sm-margin-b-5 {
    margin-bottom: 5px !important;
  }
  .sm-margin-b-10 {
    margin-bottom: 10px !important;
  }
  .sm-margin-b-20 {
    margin-bottom: 20px !important;
  }
  .sm-margin-b-30 {
    margin-bottom: 30px !important;
  }
  .sm-margin-b-40 {
    margin-bottom: 40px !important;
  }
  .sm-margin-b-50 {
    margin-bottom: 50px !important;
  }
  .sm-margin-b-60 {
    margin-bottom: 60px !important;
  }
  .sm-margin-b-70 {
    margin-bottom: 70px !important;
  }
  .sm-margin-b-80 {
    margin-bottom: 80px !important;
  }
  .sm-margin-b-90 {
    margin-bottom: 90px !important;
  }
  .sm-margin-b-100 {
    margin-bottom: 100px !important;
  }
}

/*------------------------------------------------------------------
    [Top margin below 480px]
------------------------------------------------------------------*/
@media (max-width: 480px) {
  .xs-margin-b-0 {
    margin-bottom: 0 !important;
  }
  .xs-margin-b-2 {
    margin-bottom: 2px !important;
  }
  .xs-margin-b-5 {
    margin-bottom: 5px !important;
  }
  .xs-margin-b-10 {
    margin-bottom: 10px !important;
  }
  .xs-margin-b-20 {
    margin-bottom: 20px !important;
  }
  .xs-margin-b-30 {
    margin-bottom: 30px !important;
  }
  .xs-margin-b-40 {
    margin-bottom: 40px !important;
  }
  .xs-margin-b-50 {
    margin-bottom: 50px !important;
  }
  .xs-margin-b-60 {
    margin-bottom: 60px !important;
  }
  .xs-margin-b-70 {
    margin-bottom: 70px !important;
  }
  .xs-margin-b-80 {
    margin-bottom: 80px !important;
  }
  .xs-margin-b-90 {
    margin-bottom: 90px !important;
  }
  .xs-margin-b-100 {
    margin-bottom: 100px !important;
  }
}

/*--------------------------------------------------
    [Height]
----------------------------------------------------*/
.height-100 {
  height: 100px !important;
}

.height-200 {
  height: 200px !important;
}

.height-300 {
  height: 300px !important;
}

.height-400 {
  height: 400px !important;
}


/* footer */
footer span {
  color: #fff;
}
html,
body,
img,
figure {
    max-width: 100%
}

html,
body {
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.ct-u-paddingTop10 {
    padding-top: 10px !important
}

.ct-footer {
    /* background-color: #111; */
    background-image: url('../img/1920x1080/03.jpg');
    margin-top: 150px;
    position: relative;
}

.ct-footer-pre {
    width: 100%;
    padding-bottom: 55px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width:1200px) {
    .ct-footer-pre {
        display: table
    }
    .ct-footer-pre > .inner {
        display: table-cell;
        vertical-align: middle
    }
}

@media (max-width:1199px) {
    .ct-footer-pre .form-group {
        padding-top: 15px
    }
}

.ct-footer-pre span {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ebebeb;
    font-size: 30px
}

.ct-footer-pre .form-group {
    position: relative;
    margin: 0;
}

.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
    content: '';
    display: table
}

.ct-footer-pre .form-group:after {
    clear: both
}

.ct-footer-pre .form-group input {
    border: 1px solid #00bff3;
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 0 30px;
    margin: 0 5px;
    border-radius: 0 !important;
}

@media (min-width:480px) {
    .ct-footer-pre .form-group input {
        width: 331px
    }
}

.ct-footer-pre .form-group button {
    height: 50px;
    position: relative;
    width: 80px;
    padding: 0
}

@media (min-width:480px) {
    .ct-footer-pre .form-group button {
        top: -1px
    }
}

@media (max-width:479px) {
    .ct-footer-pre .form-group input {
        float: left;
        width: 70%;
        margin: 0
    }
    .ct-footer-pre .form-group button {
        float: left;
        width: 30%
    }
}

.ct-footer-list {
    padding: 50px 0;
    list-style: none;
    padding-left: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width:479px) {
    .ct-footer-list {
        padding: 20px 0
    }
}

@media (min-width:1200px) {
    .ct-footer-list > li {
        width: 20%;
        display: table-cell;
        vertical-align: top
    }
    .ct-footer-list > li:last-child {
        width: 7%
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .ct-footer-list > li {
        width: 33.3333%
    }
}

@media (min-width:480px) and (max-width:767px) {
    .ct-footer-list > li {
        width: 50%
    }
}

@media (max-width:479px) {
    .ct-footer-list > li {
        width: 100%;
        text-align: center
    }
}

@media (max-width:1199px) {
    .ct-footer-list > li {
        display: inline-block;
        float: left
    }
}

.ct-footer-list > li .ct-footer-list-header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #00bff3;
    font-size: 30px
}

.ct-footer-list > li ul {
    list-style: none;
    padding-left: 0;
}

.ct-footer-list > li ul li a {
    color: #fff;
}

.ct-footer-list > li ul li a:hover {
    text-decoration: underline
}

.ct-footer-post {
    background: #000;
    padding: 30px 0;
}

.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
    padding: 20px 0
}

.ct-footer-post ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;
}

.ct-footer-post ul li {
    display: inline-block;
    margin: 0 20px
}

.ct-footer-post a {
    color: #fff;
}

.ct-footer-post a:hover {
    text-decoration: underline
}

.ct-footer-post p {
    color: #fff;
}

@media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block
    }
    .ct-footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}

.ct-footer-meta {
    padding-top: 30px;
}

.ct-footer-meta .ct-socials {
    padding: 20px 0;
}

.ct-footer-meta .ct-socials li {
    padding: 0 3px
}

.ct-footer--with-button {
    padding-top: 150px
}

address {
    color: #fff;
    display: inline-block;
}

address span {
    font-weight: 600
}

address a {
    color: #fff;
}

address a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    color: #111;
    font-size: 26px;
    padding: 12px 30px;
}

.btn.btn-motive {
    background-color: #00bff3;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-motive:hover {
    background-color: #00bff3;
}

.btn.btn-motive:hover:active {
    background-color: #00bff3
}

.btn.btn-violet {
    color: #fff;
    background-color: #4f4f99;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-violet:hover {
    background-color: #37376b;
}

.btn.btn-violet:hover:active {
    background-color: #2f2f5b
}

.btn.btn-green {
    color: #fff;
    background-color: #43670f;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-green:hover {
    background-color: #36520c;
}

.btn.btn-green:hover:active {
    background-color: #314a0b
}

.btn.btn-red {
    color: #fff;
    background-color: #da2229;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-red:hover {
    background-color: #ae1b21;
}

.btn.btn-red:hover:active {
    background-color: #9d181e
}

.btn.btn-white {
    background-color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-white:hover {
    background-color: #d9d9d9;
}

.btn.btn-white:hover:active {
    background-color: #c9c9c9
}

.btn.btn-large {
    padding: 20px 50px;
    font-size: 30px;
    white-space: normal;
}

@media (max-width:479px) {
    .btn.btn-large {
        padding: 20px 10px;
        line-height: .9;
        font-size: 26px;
        letter-spacing: -.2px
    }
}
.ct-mediaSection {
    background-attachment: fixed
}

.ct-section_header--type1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 115px;
    text-transform: uppercase;
}

@media (max-width:479px) {
    .ct-section_header--type1 {
        font-size: 60px;
        line-height: .8
    }
}

.ct-section_header--type2 small {
    font-family: 'coquette', fantasy;
    font-size: 58px;
    line-height: .7;
    display: block;
    font-weight: 700;
    position: relative;
    left: -12px
}

.ct-section_header--type2 span {
    font-family: 'Bebas Neue';
    font-size: 115px;
    line-height: .8
}

.ct-section_header--type2 img {
    display: inline-block;
    float: left;
    position: relative;
    top: 15px;
    padding-right: 3px
}

.ct-section_header--type3 {
    text-align: center;
}

.ct-section_header--type3 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    padding: 15px 0;
    font-weight: 700;
    color: #fff;
    background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}

.ct-section_header--type3 span {
    font-family: 'Bebas Neue';
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: .85
}

@media (max-width:479px) {
    .ct-section_header--type3 small {
        font-size: 25px
    }
    .ct-section_header--type3 span {
        font-size: 90px
    }
}

.ct-section_header--type4 {
    text-align: center;
}

.ct-section_header--type4:before,
.ct-section_header--type4:after {
    content: '';
    display: table
}

.ct-section_header--type4:after {
    clear: both
}

.ct-section_header--type4 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    color: inherit;
    font-weight: 700;
    display: block
}

.ct-section_header--type4 span {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    display: block;
    line-height: .7
}

@media (max-width:479px) {
    .ct-section_header--type4 small {
        font-size: 40px
    }
    .ct-section_header--type4 span {
        font-size: 80px
    }
}

.ct-section_header + p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
}

@media (max-width:479px) {
    .ct-section_header + p {
        font-size: 22px
    }
}

.ct-section_header--type4 + p {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

@media (max-width:479px) {
    .ct-section_header--type4 + p {
        font-size: 28px
    }
}