.login-bg, .signup-bg {
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    background-color: #EE6407;
    border-radius: 25px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-wrapper, .signup-wrapper {
    text-align: center;
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-bg, .login-wrapper {
    height: 400px;
}
.signup-bg, .signup-wrapper {
    height: 600px;
}

.login-wrapper h4, .signup-wrapper h4 {
    font-size: 40px;
    margin: 30px;
    color: #fff;
}

.login-wrapper input, .signup-wrapper input {
    width: 300px;
    height: 35px;
    margin: 15px;
    border-radius: 5px;
    border: none;
    background-color: #CDA58C;
    color: #000;
    font-weight: 500;
    box-shadow: 0px 1px 10px 5px #B65220;
}

.login-wrapper a, .signup-wrapper a {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
    margin: 50px auto 0px;
}