.team-info, .person-info {
    padding: 10px;
    box-shadow: 1px 1px 10px 3px #ccc;
    border-radius: 11px;
}
.team-info {
    height: 620px;
}
.person-info {
    height: 50%;
}
.team-info p {
    color: #000;
    font-size: 15px;
}
.image-wrapper, .team-text {
    width: 100%;
    margin-bottom: 20px;
}
.image-wrapper img{
    width: 100%;
}

@media (min-width: 768px) {
    .team-info {
        height: 400px;
    }
}
